@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 5s;
} */

@layer base {
  body{
    background-image: url('img/main/honeycomb-bg.svg');
    background-size: auto;
  }

  .dancing-script-form {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .lato {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    background-color: #edebef;
  }

  /* hamburger toggle logika POCZĄTEK */
  .hamburger-toggle[data-state="on"] {
    display: block;
  }
  .hamburger-toggle[data-state="off"] {
    display: none;
  }
  .x-toggle[data-state="off"] {
    display: none;
  }
  .x-toggle[data-state="on"] {
    display: block;
  }
  /* hamburger toggle logika KONIEC */

  /* menu główne POCZĄTEK */
  .learn:hover .drop-menu {
    display: block;
  }

  .main-menu > li:hover {
    color: #a96cfe;
    transition: all;
    transition-duration: 500ms;
  }

  .dot {
    color: rgb(153, 153, 153);
  }

  .main-menu > li:hover .dot {
    color: black;
    transition: color 0.5s;
  }

  /* menu główne KONIEC */

  /* search bar POCZĄTEK */
  .search-bar[data-state="on"] {
    display: block;
  }
  .search-bar[data-state="off"] {
    display: none;
  }
  .lupa[data-state="on"] {
    display: block;
  }
  .lupa[data-state="off"] {
    display: none;
  }
  /* search bar KONIEC */

  /* form POCZĄTEK */

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .form-imput::placeholder {
    font-family: "Dancing Script", cursive;
  }
  /* form KONIEC */

  #game_canvas {
    image-rendering: pixelated;
  }

  /* chess board początek */
  .chess-grid {
    background-image: url("./img/Game-2/board.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  /* chess board koniec */
}
