@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    background-color: #edebef;
  }

  /* hamburger toggle logika POCZĄTEK */
  .hamburger-toggle[data-state="on"] {
    display: block;
  }
  .hamburger-toggle[data-state="off"] {
    display: none;
  }
  .x-toggle[data-state="off"] {
    display: none;
  }
  .x-toggle[data-state="on"] {
    display: block;
  }
  /* hamburger toggle logika KONIEC */

  /* menu główne POCZĄTEK */
  .learn:hover .drop-menu {
    display: block;
  }

  .main-menu > li:hover {
    color: #a96cfe;
    transition: all;
    transition-duration: 500ms;
  }

  .dot {
    color: rgb(153, 153, 153);
  }

  .main-menu > li:hover .dot {
    color: black;
    transition: color 0.5s;
  }

  /* menu główne KONIEC */

  /* search bar POCZĄTEK */
  .search-bar[data-state="on"] {
    display: block;
  }
  .search-bar[data-state="off"] {
    display: none;
  }
  .lupa[data-state="on"] {
    display: block;
  }
  .lupa[data-state="off"] {
    display: none;
  }
  /* search bar KONIEC */
}
