name: Deploy Vite App to GitHub Pages

on:
  push:
    branches:
      - gh-pages # Zmień na odpowiednią nazwę swojej gałęzi

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clear npm cache
        run: npm cache clean --force

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Change directory
        run: cd ..

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Upload artifact to Pages
        uses: actions/upload-pages-artifact@v1.0.4
        with:
          path: docs # Jeśli twój folder wyjściowy to 'docs' lol

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v3

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
